*{
  margin:0px;
  padding:0px;
  font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

header{
  height:107px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

.icon{
  height: 60px;
  background-color:white;
  padding-top:2px;
}

.top-title{
  background-color:white;
  padding-top:10px;
  text-align: center;
  width:65%;
  float:left;
  font-size:15px;
  font-family:'Impact';
}

.logo{
  float: left;
}

.mail{
  display:inline-block;
  float:right;
}


.twitter{
  display: inline-block;
  float:right;
  padding-right: 10px;
}

.facebook{
  display: inline-block;
  float:right;
  padding-right: 10px;

}


.menu li {
  cursor: pointer;
  color:black;
  font-family:'Impact';
  display:inline-block;
  list-style: none;
  float: left;
  background-color:white;
  opacity: 0.5;
  width:25%;
  height: 35px;
  text-align: center;
  padding-top:10px;
  outline: 0.5px solid rgba(255,255,255,0.4);
  transition: all 0.5s;
  margin: 0 auto;
}

@media(max-width:1000px){
  .menu li{
  height: 1.5vh;
}
}

.menu li:hover{
  background-color: white;
  opacity: 1;
}
