@import "compass";


header {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
    z-index: 1;
    li {
      color: #EEEEEE;
      cursor: pointer;
      &.active {
        color: #333333;
      }
    }
  }
}

.fullpage {
  background-color: ivory;
  font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  padding: 0;
  margin: 0;
}

.top_screen {
  height: 100vh;
  background-image: url("../img/back1.PNG");
  background-size: cover;
  #top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    justify-content: center;
    .top_title {
      color: skyblue;
      text-align: center;
      font-size: 70px;
    }
    p {
      text-align: center;
    }
    .sns_icon {
      ul {
        text-align: center;
        padding: 0;
        .icon {
          font-size: 50px;
        }
        a {
          color: skyblue;
          margin: 10px;
          &:hover {
            color: blue;
          }
        }
      }
    }
  }
}

.profile_screen {
  height: 100vh;
  background-image: url("../img/back2.PNG");
  background-size: cover;
  margin: 0;
  padding: 0;
  .profile {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    .profile_title {
      font-size: 35px;
    }
    .profile-icon {
      margin: 0 auto;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;

    }
  }
}

.skill_screen {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url("../img/back3.PNG");
  background-size: cover;
  .skill {
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 100%;
    text-align: center;
    .skill_title {
      font-size: 35px;
    }
    .box {
      @include flex-direction(column);
      width: 100%;
      display: -webkit-flex;
      display: flex;
      >div {
        width: 90%;
        position: relative;
        margin: 1em 1em;
        padding: 0.5em 1em;
        border: solid 3px #95ccff;
        border-radius: 8px;
        span {
          position: absolute;
          top: -13px;
          left: 10px;
          padding: 0 9px;
          line-height: 1;
          font-size: 19px;
          background: #FFF;
          color: #95ccff;
          font-weight: bold;
        }

        .program {
          display: inline-block;
          text-align: center;
          p {
            text-align: center;
            margin: 0;
            padding: 0;
          }
          img {
            vertical-align: top;
          }
        }
      }
    }
  }
}
        .skill .box > div span {
          background-color:rgb(255,241,255);
        }

.portfolio_screen {
  height: 100vh;
  background-image: url("../img/back4.PNG");
  background-size: cover;
  .Portfolio {
    text-align: center;
    position: absolute;
    top: 350%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    .Portfolio_title {
      font-size: 35px;
    }
    .Portfolio_table {
      display: -webkit-flex;
      .Portfolio_item {
        display: -webkit-flex;
        width: 156px;
        height: 156px;
        border: 3px solid skyblue;
        display: inline-block;
        margin: 20px;
        &:hover {
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
        }
        .Portfolio_img_title {
          padding-top: 20px;
        }
      }
    }
  }
}



foter {
  text-align: center;
}

.popup_help {
  cursor: pointer;
}

.popup_help_window {
  max-width: 300px;
  position: absolute;
  padding: 6px 15px;
  background-color: rgb(255, 241, 188);
  border: 3px double #ccc;
  display: none;
  color: #63f;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5em;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #ccc;
}

@media (min-width: 1025px) {
  header {
    padding: 0;
    margin: 0;
    ul {
      font-size: 15px;
      top: 50%;
      position: fixed;
      padding-left: 10px;
    }
  }
  .skill_screen {
    height: 100vh;
    .skill {
      padding: 100px;
      .box {
        @include flex-direction(row);
        >div {
          width: 30%;
        }
      }
    }
  }
}

@media (max-width: 1025px) {
  header {
    ul {
      position: fixed;
      width: 100%;
      li {
        text-align: center;
        float: left;
        width: 25%;
        padding-top: 10px;
      }
    }
  }
}
